#pages {
    @include flex-between-center;
    
    .placeholder {
        display: none;

        @include lg {
            display: block;
            margin-left: -15%;
            margin-top: 8%;
        }
    }
    
    .process-flow {
        margin: auto;
        h2 {
            font-size: 35px;
            text-align:center;
            @include lg {
                font-size: 48px;
                text-align: start;
            }
        }

        @include lg {
            margin-left: 100px;
        }
    
        .process-steps {

            .steps {
                grid-template-columns: 2fr 5fr;
                margin-top: 5rem;

                    h3 {
                        font-size: 24px;
                        margin-top: 0;
                    }

                    p {
                        font-family: $poppins;
                        font-size: 60px;
                        font-weight: 700;
                        color: $pink;
                        margin-top: -0.95rem;
                    }

            }
    
        }
    
    
        
    }
}
