// TOP NAVBAR

.top-navbar {
    grid-template-columns: 1fr 2fr;
    border-bottom: 3px solid #E0E3EA;
    padding: 1rem 0;
    
/*    position: fixed;
    top: 0;
    left: 0;
    right: 0; */

    .nav-links {
        margin-left: 1.5rem;
    }

    #tryit {
        background: $light;
        color: #000000;
        border: 1px solid $dark-orange;
        margin: 0;
        padding: 0.6rem 1.4rem;
        font-size: 17px;
        font-weight: 500;

        &:hover {
            background: $dark-orange;
            color: $light;
            transition: 0.3s;
        }

        &:not(:hover) {
            transition: 0.3s;
        }
    }
}


// SHOWCASE

.showcase {
    padding-top: 6%;

    .showcase-text {
        
        
        header {
                h1 {
                font-family: $poppins;
                color: $dark;
                font-size: 60px;
                font-weight: 700;
                line-height: 1.2;
            }
        
        }

    }

    .showcase-img {
        position: relative;
        margin-left: -250px;
        width: 100%;
        height: auto;
        
        #shape {
            position: absolute;
            right: -440px;
            top: -300px;
            z-index: -1;
        }
        
        #circle {
            position: relative;
            left: 920px;
            top: -70px;
        }
        
        #computer {
            position: relative;
            left: 275px;
            top: -300px;
        }
    }
}