* { /* appliceras på allt */
    box-sizing: border-box; /* ha alltid med, kalkylerar in border i total */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

html, body {
    font-weight: 400;
    font-size: 16px;
    color: #333333;
    line-height: 1.5;
}

/* rem = stdmått (html, body), em = dubbla parent*/

.border {
    border: 1px solid #c3c3c3;
}

.container {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.box {
    text-align: center;
}

#parent {
    border: 1px solid yellowgreen;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

#child-1 { flex:1; order: 1; }

#child-2 { flex:2; order: 2; }

#child-3 { flex:1; order: 3;}

.navbar-top {
    padding: 0.6rem 0;
    background-color: thistle;
    border: 1px solid rgb(172, 172, 172);
}

.navbar-top-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-top-items i {
    font-size: 1.2em;
}

.navbar-top .navbar-top-items .working-hour {
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.navbar-top .navbar-top-items .working-hour span {
    margin-left: 0.3rem;
    font-size: 0.8em;
}

.navbar-top .navbar-top-items .social-media i {
    margin-left: 0.5rem;
}


@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1300px;
    }
}