* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: Roboto Slab, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18pt;
    color: #626262;
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.navbar-top {
    padding: 0.6rem 0;
    border: 1px solid #D2D2D2;
    font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18pt;
}

.navbar-top-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-top-items i {
    font-size: 18pt;
}

.navbar-top .navbar-top-items .working-hour {
    font-size: 18pt;
    display: flex;
    align-items: center;
}

.navbar-top .navbar-top-items .working-hour .far {
    font-size: 18pt;
    color: #2BAAEC;
}

.navbar-top .navbar-top-items .working-hour span {
    margin-left: 0.7rem;
    font-size: 0.8em;
}

.navbar-top .navbar-top-items .social-media i {
    margin-left: 1.5rem;
    color: #2BAAEC;
    font-size: 15pt;
}

#twitter {
    color: #25E6C8;
}

.navbar-top-2 {
    padding: 3rem 0;
    border: 1px solid #D2D2D2;
    font-size: 22pt;
}

.navbar-top-2-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-top-2-items .logo {
    display: flex;
}

.navbar-top-2-items .logo .logo-text {
    display: flex;
    flex-direction: column;
    margin-left: 15pt;
}

.clinic {
    color: #2BAAEC;
}

#logo-sm-text {
    font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18pt;
}

h1 {
    color: #363636;
    font-family: Roboto Slab, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60pt;
    line-height: 70pt;
}

h2 {
    color: #363636;
    font-family: Roboto Slab, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40pt;
    line-height: 50pt;
}

h3 {
    color: #363636;
    font-family: Roboto Slab, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22pt;
    line-height: 30pt;
}

a {
    color: #363636;
    text-decoration: none;
    font-size: 20pt;
}

a:hover {
    color:#2BAAEC;
}

.menu a {
    padding-left: 2rem;
}

.showcase {
    background-color:#DEDEDE;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 1%;
}

.showcase-text {
    display: flex;
    flex-direction: column;
    font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn-about {
    background-color: #25E6C8;
    color: #ffffff;
    border: none;
    font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18pt;
    width: 30%;
    margin-top: 5%;
    font-weight: 800;
}

.abt-us {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 1%;
}

.abt-text {
    display: flex;
    flex-direction: column;
    font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.h2-border {
    border-bottom: 5px solid #25E6C8;
    padding: 30px 0;
    margin-bottom: 50px;
}

.abt-us .abt-text span {
    margin-top: 30px;
}

/* media-queries */

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1300px;
    }
}