@mixin md { @media (min-width: #{$breakpoint-md}) { @content }}
@mixin lg { @media (min-width: #{$breakpoint-lg}) { @content }}

@mixin flex-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-between {
    display: flex;
    justify-content: space-between;
}

@mixin flex-row-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin default-font {
    font-size: 1rem;
    font-weight: 400;
    font-family: $roboto;
    color: $blue;
}