.top-navbar {
    grid-template-columns: 1fr 2fr;
    border-bottom: 3px solid #E0E3EA;
    padding: 1rem 0;

    .nav-links {
        margin-left: 1.5rem;
    }

    #tryit {
        background: $light;
        color: #000000;
        border: 1px solid $dark-orange;
        margin: 0;
        padding: 0.6rem 1.4rem;
        font-size: 17px;
        font-weight: 500;

        &:hover {
            background: $dark-orange;
            color: $light;
            transition: 0.3s;
        }

        &:not(:hover) {
            transition: 0.3s;
        }
    }
}