@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500&display=swap");
* {
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #57647C;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

.d-block {
  display: block;
}

.d-inline {
  display: inline;
}

.d-inlineblock {
  display: inline-block;
}

.justify-content-start {
  justify-content: start;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.pt-1 {
  padding-top: 1rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pt-4 {
  padding-top: 4rem;
}

.pt-5 {
  padding-top: 5rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mt-6 {
  margin-top: 6rem;
}

.mt-7 {
  margin-top: 7rem;
}

.mt-10 {
  margin-top: 10rem;
}

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

.border {
  border: 1px solid black;
}

button {
  background: linear-gradient(100deg, #EE307A, #FC8B53);
  color: #ffffff;
  border: none;
  border-radius: 0.35rem;
  margin-top: 2rem;
  padding: 1rem 2.3rem;
  font-size: 0.9rem;
  font-weight: 700;
  cursor: pointer;
}
button:hover {
  transition: 0.2s;
}

ul {
  list-style-type: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
  color: #252525;
}
a:hover {
  color: #FF6803;
}

span {
  line-height: 1.6;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  font-weight: 700;
  color: #252525;
  line-height: 1.2;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: #252525;
  line-height: 1.2;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #252525;
}

/* h4 {
    font-family: $poppins;
    font-size: 21px;
    font-weight: 600;
    color: $dark;
}*/
header #bg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
}
header .top-navbar {
  grid-template-columns: 1fr 2fr;
  border-bottom: 3px solid #E0E3EA;
  padding: 1rem 0;
}
header .top-navbar .nav-links {
  margin-left: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .top-navbar #tryit {
  background: none;
  color: #000000;
  border: 1px solid #FF6803;
  margin: 0;
  padding: 0.6rem 1.4rem;
  font-size: 17px;
  font-weight: 500;
}
header .top-navbar #tryit:hover {
  background: #FF6803;
  color: #ffffff;
  transition: 0.3s;
}
header .top-navbar #tryit:not(:hover) {
  transition: 0.3s;
}

.showcase {
  margin-top: 11rem;
}
.showcase .showcase-text header h1 {
  font-family: "Poppins", sans-serif;
  color: #252525;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.2;
}
.showcase .showcase-img {
  position: relative;
  margin-left: -250px;
  width: 100%;
  height: auto;
}
.showcase .showcase-img #shape {
  position: absolute;
  right: -440px;
  top: -300px;
  z-index: -1;
}
.showcase .showcase-img #circle {
  position: relative;
  left: 885px;
  top: -70px;
}
.showcase .showcase-img #computer {
  position: relative;
  left: 240px;
  top: -300px;
}

.feature-items {
  grid-template-columns: 1fr 1fr;
  row-gap: 4.4rem;
  -moz-column-gap: 8.3rem;
       column-gap: 8.3rem;
}

#pages {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#pages .placeholder {
  margin-left: -15%;
  margin-top: 8%;
}
#pages .process-flow {
  margin-left: -100px;
}
#pages .process-flow .process-steps .steps {
  grid-template-columns: 2fr 5fr;
  margin-top: 5rem;
}
#pages .process-flow .process-steps .steps h3 {
  font-size: 24px;
  margin-top: 0;
}
#pages .process-flow .process-steps .steps p {
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  font-weight: 700;
  color: #EE307A;
  margin-top: -0.95rem;
}

#contact {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
}
#contact img {
  position: absolute;
  top: 45%;
  left: 15%;
  z-index: -1;
}
#contact .engagement .stats p {
  font-family: "Poppins", sans-serif;
  font-size: 42px;
  font-weight: 600;
  color: #EE307A;
  margin-top: 5rem;
  margin-bottom: 0;
}
#contact .contact-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65%;
  background: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 2px 5px 15px 5px #E8E8E8;
  align-self: center;
  padding: 2rem 2rem;
}
#contact .contact-box .questions {
  text-align: start;
}
#contact .contact-box .questions p {
  font-family: "Poppins", sans-serif;
  font-size: 21px;
  font-weight: 600;
  color: #252525;
  margin: 0;
}
#contact .contact-box button {
  margin: 0;
}

#blog {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
#blog .blog-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#blog .blog-section .blog-entry {
  box-shadow: 2px 5px 15px 5px #E8E8E8;
  margin: 4rem 1rem;
}
#blog .blog-section .blog-text {
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 370px;
  padding: 1rem 2rem;
}
#blog .blog-section .blog-text .date {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #FF6803;
}
#blog .blog-section .blog-text .blog-title {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #252525;
}
#blog .blog-section .blog-text button {
  width: 40%;
  font-size: 14px;
  padding: 1rem 0;
  margin-bottom: 0.8rem;
}