@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #57647C;
}

html, body {
  margin: 0;
  padding: 0;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-grid {
  display: -ms-grid;
  display: grid;
}

.d-block {
  display: block;
}

.d-inline {
  display: inline;
}

.d-inlineblock {
  display: inline-block;
}

.justify-content-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.justify-content-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-items-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.align-items-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5rem;
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1170px;
  }
}

.border {
  border: 1px solid black;
}

button {
  background: linear-gradient(100deg, #EE307A, #FC8B53);
  color: #ffffff;
  border: none;
  border-radius: 0.35rem;
  margin-top: 2rem;
  padding: 1rem 2.3rem;
  font-size: 0.9rem;
  font-weight: 700;
  cursor: pointer;
}

button:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

ul {
  list-style-type: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
  color: #252525;
}

span {
  line-height: 1.6;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: #252525;
  line-height: 1.2;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #252525;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-size: 21px;
  font-weight: 600;
  color: #252525;
}

img {
  -o-object-fit: contain;
     object-fit: contain;
}

.top-navbar {
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  border-bottom: 3px solid #E0E3EA;
  padding: 1rem 0;
}

.top-navbar .nav-links {
  margin-left: 1.5rem;
}

.top-navbar #tryit {
  background: #ffffff;
  color: #000000;
  border: 1px solid #FF6803;
  margin: 0;
  padding: 0.6rem 1.4rem;
  font-size: 17px;
  font-weight: 500;
}

.top-navbar #tryit:hover {
  background: #FF6803;
  color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.top-navbar #tryit:not(:hover) {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.showcase .showcase-text header h1 {
  font-family: "Poppins", sans-serif;
  color: #252525;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.2;
}

.showcase .showcase-img {
  position: relative;
  width: 100%;
  height: auto;
}

.showcase .showcase-img #shape {
  position: absolute;
  right: -370px;
  top: -100px;
  z-index: -1;
}

.showcase .showcase-img #circle {
  position: relative;
  right: -800px;
  top: 130px;
}

.showcase .showcase-img #computer {
  position: relative;
  right: -150px;
  top: -100px;
}

.feature-items {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  row-gap: 4.4rem;
  -webkit-column-gap: 8.3rem;
          column-gap: 8.3rem;
}

.pages .numbers {
  color: #EE307A;
}
