.d-flex { display: flex; }
.d-grid { display: grid; }
.d-block { display: block; }
.d-inline { display: inline; }
.d-inlineblock { display: inline-block; }

.justify-content-start { justify-content: start; }
.justify-content-end { justify-content: end; }
.justify-content-center { justify-content: center; }
.justify-content-between { justify-content: space-between; }

.align-items-start { align-items: flex-start ;}
.align-items-end { align-items: flex-end ;}
.align-items-center { align-items: center ;}

.container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;

    @include md { max-width: $breakpoint-md-max-width; }
    @include lg { max-width: $breakpoint-lg-max-width; }
    @include xl { max-width: $breakpoint-xl-max-width; }
    @include xxl { max-width: $breakpoint-xxl-max-width; }
    @include xxxl { max-width: $breakpoint-xxxl-max-width; }
}

.btn {
    background: $gradient;
    border-radius: 0.3rem;
    height: fit-content;
    width: fit-content;
    padding: 1.5rem 2rem;
    color: $light;
    font-size: 16px;
    font-weight: 600;
}

ul {
    list-style-type: none;
    text-decoration: none;
    font-size: 17px;
}

a {
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    color: $dark;
}

h1 {
    font-family: $poppins;
    color: $dark;
    font-size: 60px;
    font-weight: 700;
}

