.d-flex { display: flex; }
.d-grid { display: grid; }
.d-block { display: block; }
.d-inline { display: inline; }
.d-inlineblock { display: inline-block; }

.justify-content-start { justify-content: start; }
.justify-content-end { justify-content: end; }
.justify-content-center { justify-content: center; }
.justify-content-between { justify-content: space-between; }
.justify-content-around { justify-content: space-around; }

.align-items-start { align-items: flex-start ;}
.align-items-end { align-items: flex-end ;}
.align-items-center { align-items: center ;}

.pt-1 { padding-top: 1rem; }
.pt-2 { padding-top: 2rem; }
.pt-3 { padding-top: 3rem; }
.pt-4 { padding-top: 4rem; }
.pt-5 { padding-top: 5rem; }
.mt-1 { margin-top: 1rem; }
.mt-2 { margin-top: 2rem; }
.mt-3 { margin-top: 3rem; }
.mt-4 { margin-top: 4rem; }
.mt-5 { margin-top: 5rem; }
.mt-6 { margin-top: 6rem; }
.mt-7 { margin-top: 7rem; }
.mt-10 { margin-top: 10rem; }

.container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;

    @include md { max-width: $breakpoint-md-max-width; }
    @include lg { max-width: $breakpoint-lg-max-width; }
    @include xl { max-width: $breakpoint-xl-max-width; }
}

.border {
    border: 1px solid black;
}

button {
    background: $gradient;
    color: $light;
    border: none;
    border-radius: 0.35rem;
    margin-top: 2rem;
    padding: 1rem 2.3rem;
    font-size: 0.9rem;
    font-weight: 700;
    cursor: pointer;

    &:hover { // FIXA NÅT SNYGGT
        transition: 0.2s;
    }
}

ul {
    list-style-type: none;
    text-decoration: none;
}

a {
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    color: $dark;

    &:hover {
        color: $dark-orange;
    }
}

span {
    line-height: 1.6;
}

// HEADINGS

h1 {
    font-family: $poppins;
    font-size: 60px;
    font-weight: 700;
    color: $dark;
    line-height: 1.2;
}

h2 {
    font-family: $poppins;
    font-size: 48px;
    font-weight: 700;
    color: $dark;
    line-height: 1.2;
}

h3 {
    font-family: $poppins;
    font-size: 22px;
    font-weight: 700;
    color: $dark;
}

/* h4 {
    font-family: $poppins;
    font-size: 21px;
    font-weight: 600;
    color: $dark;
}*/

