/*
gul : #FFBB00
ljusgrå : #8A8A8A
mörkgrå : #333333
blå : #1487FD - #42A0FF
*/

* {
    font-family: 'Roboto', sans serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    height: 100vh;
    width: auto;
    background-image: url("../images/header-bg.svg");
    }

